@import "/src/scss/base/colors";
@import "/src/scss/base/text";

.we-cont {
    .seccion-title {
        background-color: $grey-2;
        padding: 1rem 2rem;
        h1 {
            margin: 0;
            color: $white;
            font-weight: lighter;
            font-size: 1.6rem;
        }
    }
    .cont-we {
        background-color: $background;
        background-image: url("../../../assets/icons/bg-home.png");
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div.work {
            position: relative;
            width: 15rem;
            height: 7rem;
            margin-right: .1rem;
            margin-bottom: .1rem;
            padding: 1rem;
            h1 {
                font-family: $font-2;
                font-size: 1.3rem;
                color: $white;
                margin: 0;
            }
            .role {
                font-family: $font-2;
                color: $grey-1;
                margin-top: 0.5rem;
            }
            .year {
                position: absolute;
                bottom: 0;
                right: 1rem;
                color: $grey-2;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }
}


