@import "/src/scss/base/colors";
@import "/src/scss/base/animations";
@import "/src/scss/base/text";

.header {
    background-color: $grey-1;
    height: 100%;
    width: 8rem;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    ul {
        margin: 0;
        margin-top: -5rem;
        padding: 0;
        color: $white;
        list-style: none;
        li.item {
            color: black;
            text-align: center;
            height: 4rem;
            padding: 2rem;
            color: $grey-3;
            align-items: flex-end;
            display: block;
            justify-content: center;
            font-family: $font-2;
            cursor: pointer;
            img.icon, .icon-blue {
                width: 2rem;
                margin-bottom: 1rem;
            }
            .icon-active {
                display: none;
                font-size: 1.5rem;
                color: $accent;
                margin-bottom: 1.2rem;
                margin-top: .5rem;
                font-family: $font-1;
            }
            .icon-blue {
                display: none;
            }
            &:hover, &.active {
                color: $primary;
                .icon {
                    display: none;
                }
                .icon-blue {
                    display: initial;
                }
            }
            &.active {
                .icon-active {
                    display: block;
                }
                img.icon {
                    display: none;
                }
                .icon-blue {
                    display: none;
                }
            }
        }
        li.btn-menu {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        height: 6rem;
        align-items: baseline;
        display: block;
        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            li.item {
                display: none;
            }
            li.btn-menu {
                padding: 1.3rem;
                display: block;
                button {
                    width: 3rem;
                    height: 3rem;
                    font-size: 1.5rem;
                    font-family: $font-1;
                    background-color: transparent;
                    color: $primary;
                    border: none;
                    &.btn-menu-close {
                        position: absolute;
                        color: $accent;
                        z-index: 3;
                        right: 20px;
                    }
                }
                
            }
        }
    }
}
