@import "/src/scss/base/colors";
.header {
    background-color: $grey-1;
    height: 100%;
    width: 130px;
    left: 0;
    top: 0;
    ul {
        margin: 0;
        padding: 0;
        color: $white;
        list-style: none;
        li.item {
            color: black;
            text-align: center;
            height: 4rem;
            padding: 2rem;
            color: $grey-3;
            align-items: flex-end;
            display: block;
            justify-content: center;
            font-family: 'Gugi';
            cursor: pointer;
            img.icon, .icon-blue {
                width: 2rem;
                margin-bottom: 1rem;
            }
            .icon-active {
                display: none;
                font-size: 1.5rem;
                color: red;
                margin-bottom: 1.2rem;
                margin-top: .5rem;
                font-family: 'Press Start 2P';
            }
            .icon-blue {
                display: none;
            }
            &:hover, &.active {
                color: $primary;
                .icon {
                    display: none;
                }
                .icon-blue {
                    display: initial;
                }
            }
            &.active {
                .icon-active {
                    display: block;
                }
                img.icon {
                    display: none;
                }
                .icon-blue {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {}
}