<div class="header">
    <ul>
        <li class="logo" routerLink="">
            <app-logo></app-logo>
        </li>
        <li class="item" routerLink="/about-me" routerLinkActive="active">
            <span class="icon-active">X</span>
            <img class="icon" src="../../../assets/icons/about.webp">
            About
        </li>
        <li class="item" routerLink="/projects" routerLinkActive="active">
            <span class="icon-active">X</span>
            <img class="icon" src="../../../assets/icons/project.png">
            Projects
        </li>
        <li class="item" routerLink="/contact-me" routerLinkActive="active">
            <span class="icon-active">X</span>
            <img class="icon" src="../../../assets/icons/contactme.webp">
            Contact me
        </li>
    </ul>
</div>