<div class="header">
    <ul>
        <li class="logo" routerLink="">
            <app-logo [position]="'header-logo'"></app-logo>
        </li>
        <li class="item" routerLink="/about-me" routerLinkActive="active">
            <span class="icon-active">X</span>
            <img class="icon" src="../../../assets/icons/about.webp">
            <img class="icon-blue" src="../../../assets/icons/about-blue.webp">
            About me
        </li>
        <li class="item" routerLink="/projects" routerLinkActive="active">
            <span class="icon-active">X</span>
            <img class="icon" src="../../../assets/icons/project.png">
            <img class="icon-blue" src="../../../assets/icons/project-blue.png">
            Projects
        </li>
        <li class="item" routerLink="/contact-me" routerLinkActive="active">
            <span class="icon-active">X</span>
            <img class="icon" src="../../../assets/icons/contactme.webp">
            <img class="icon-blue" src="../../../assets/icons/contactme-blue.webp">
            Contact me
        </li>
        <li class="btn-menu">
            <button [ngClass]="{'btn-menu-close': menuStatus, 'btn-menu-open': !menuStatus}">
                <span *ngIf="!menuStatus" (click)="menuMobile(true)">Ξ</span>    
                <span *ngIf="menuStatus" (click)="menuMobile(false)">X</span> 
            </button>
        </li>
    </ul>
</div>
<app-mobile-menu [menuStatus]="menuStatus" (closeMenuStatus)="menuMobile(false)"></app-mobile-menu>