@import "/src/scss/base/colors";
@import "/src/scss/base/text";

.cont-header-about {
 padding: 1rem;
 display: flex;
 justify-content: center;
 background-color: $grey-3;
 flex-wrap: wrap;
 .about-description {
    width: 46rem;
    text-align: center;
    color: $white;
    font-weight: lighter;
    p {
        line-height: 1.5;
    }
 }
 .about-links {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    .networks {
        display: flex;
        justify-content: start;
        div.network {
            cursor: pointer;
            width: 4rem;
            margin-right: .7rem;
        }
    }
    .cv { 
        cursor: pointer;
        width: 4rem;
    }
 }
}