<div class="cont-header-about">
    <div class="about-description">
        <h1>Victor Villavicencio</h1>
        <p>I’m a creative front-end developer, with +5 years of profesional experience,
            based in Bogotá, Colombia. I`ve always been attracted by the overlap between
            design and development. My skills are broad: from ux to front end
            development. I enjoy everyaspect of my work, and loves to build sites and
            mobile applications from the beginning, until nally feeling identied with
            each of my project.</p>
    </div>
    <app-links></app-links>
</div>