@import "/src/scss/base/colors";
@import "/src/scss/base/text";

.cont-header-about {
 padding: 2rem;
 display: block;
 justify-content: center;
 background-color: $grey-3;
 flex-wrap: wrap;
 .about-description {
    margin: 0 auto;
    width: 46rem;
    text-align: center;
    color: $white;
    font-weight: lighter;
    margin-bottom: 2rem;
    p {
        line-height: 1.5;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }
 }
}