<div class="cont-home">
    <div class="cont-home-logo">
        <app-logo [position]="'home-logo'"></app-logo>
        <div class="home-name">
            <h1>Victor Villavicencio</h1>
            <p>Front End Developer / Pokemon Trainer</p>
        </div>
        <div class="cont-home-projects">
            <div class="bg-primary"></div>
            <div class="bg-secundary"></div>
            <div class="bg-third"></div>
            <div class="bg-grey-2" routerLink="/projects">
                VIEW<br>ALL PROJECTS <span class="font-1"> ></span>
            </div>
        </div>
    </div>
</div>