@import "/src/scss/base/colors";
@import "/src/scss/base/text";
@import "/src/scss/base/animations";

.logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        position: absolute;
        font-size: 3rem;
        transform: rotate(-20deg);
        cursor: pointer;
    }
    div.primary-text {
        margin-left: 1rem;
        margin-top: 0.5rem;
        animation-name: primary-anim;
        animation-duration: .2s;
        animation-iteration-count: infinite;
    }
    div.secundary-text {
        animation-name: secundary-anim;
        animation-duration: .2s;
        animation-iteration-count: infinite;
    }
}

.header-logo {
    width: 8rem;
    height: 6rem;
    @media screen and (max-width: 600px) {
        div {
            font-size: 2.5rem;
        }
    }
}
