@import "/src/scss/base/colors";
@import "/src/scss/base/text";

.about-links {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    .networks {
        display: flex;
        justify-content: start;
        a.network {
            cursor: pointer;
            width: 4rem;
            margin-right: .2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 2.5rem;
            }
        }
    }
    .cv { 
        cursor: pointer;
        width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $white;
        font-family: $font-2;
        img {
            width: 2.5rem;
            margin-left: -.5rem;
        }
    }
 }