<div class="about-links">
    <div class="networks">
        <a href="https://gitlab.com/Vrixton" target="_blank" class="network bg-primary"><img src="../../../assets/links/gitlab.png" alt=""></a>
        <a href="https://github.com/Vrixton" target="_blank" class="network bg-secundary"><img src="../../../assets/links/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/Vrixton/" target="_blank" class="network bg-third"><img src="../../../assets/links/linkedin.png" alt=""></a>
    </div>
    <a href="../../../assets/VictorV.pdf" target="_blank" class="cv bg-primary">
        <img src="../../../assets/icons/cv.png" alt=""> <span>Download CV</span> 
    </a>
</div>